services:
  - name: "registry.apps.wodanio.com/docker/docker:dind"
    alias: "docker"

variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HUB_IMAGE_NAME: "wodanio/bos"

stages:
  - "build"

before_script:
  - "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
  - "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"

build:main:
  stage: "build"
  only:
    - "main"
    - "staging"
  script:
    - "docker buildx create --use"
    - |
      TAGS="--tag $DOCKER_HUB_IMAGE_NAME:$CI_COMMIT_BRANCH \
            --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH"
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        TAGS="$TAGS --tag $DOCKER_HUB_IMAGE_NAME:latest"
      fi
      docker buildx build \
        --provenance=false \
        $TAGS \
        --push .

