---

services:
    
  postgresql:
    image: "postgres:17"
    restart: "unless-stopped"
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_DB=database"
      - "POSTGRES_USER=database"
      - "POSTGRES_PASSWORD=database"
      - "PGDATA=/var/lib/postgresql/data/pgdata"
    volumes:
      - "database:/var/lib/postgresql/data"
    networks:
      - "app"

  redis:
    image: "redis:latest"
    restart: "unless-stopped"
    ports:
      - "6379:6379"
    volumes:
      - "redis:/data"
    networks:
      - "app"

  gotenberg:
    image: "gotenberg/gotenberg:latest"
    restart: "unless-stopped"
    ports:
      - "8001:3000"
    networks:
      - "app"

networks:
  app:

volumes:
  database:
  redis:
